@page "/new"
@inherits UploadFileBase

<h3>Upload New File</h3>

<br/>

<EditForm Model="@UploadFile">
    <div class="form-group row">
        <div class="col-sm-10">
            <InputFile OnChange="@LoadFiles"></InputFile>
            @if (errors.Count > 0)
            {
                <h2>Errors</h2>
                <ul class="text-danger">
                    @foreach (var error in errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            }
        </div>
    </div>
</EditForm>